<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: arial, sans-serif;
}
th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid#ddddddde;
}
tr:nth-child(even) {
    background-color: #ec0de173;
}
tr:nth-child(odd) {
    background-color: #c4bdbe73;
}
h1{color: rgb(144, 25, 223);
       text-align: left;
       font-family:cursive;
 }


</style>
</head>
<body>

<h1>My Monthly Budget R2000<img src="./assets/img/mybudget.png "style="width: 200px;height:120px;" ></h1>



<table style="width:50%">
  
  <tr>
    <th>Expenses</th>
    <th>Amount</th>
    <th>Icons</th>
  </tr>
  <tr>
    <td>Transport fee</td>
    <td>R800</td>
    <td><img src="./assets/img/transport.jpg"  style="width:100px;height:100px;"></td>
    
  </tr>
  <tr>
    <td>Lunch</td>
    <td>R200</td>
    <td><img src="./assets/img/food.png"  style="width:100px;height:100px;"></td>
  </tr>
  <tr>
    <td>Savings</td>
    <td>R300</td>
    <td><img src="./assets/img/savings.png"  style="width:100px;height:100px;"></td>
  </tr>
  <tr>
    <td>Airtime</td>
    <td>R100</td>
    <td><img src="./assets/img/airtime.png"  style="width:100px;height:100px;"></td>
  </tr>
  <tr>
    <td>Toiletry</td>
    <td>R200</td>
    <td><img src="./assets/img/toiletry.png"  style="width:100px;height:100px;"></td>
  </tr>
  <tr>
    <td>Hair</td>
    <td>R300</td>
    <td><img src="./assets/img/hair.png"  style="width:100px;height:100px;"></td>
  </tr>
  <tr>
    <td>Others</td>
    <td>R100</td>
    <td><img src="./assets/img/sweet.png"  style="width:100px;height:100px;"></td>
  </tr>
</table>

</body>
</html>